body {
	background-image: url("images/mobile_menu_gold_membership_bg_dark.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.banner {
	position: relative;
	top: 0;
	left: 0;
}
.bgSmoke {
	position: relative;
	top: 0;
	left: 0;
}
.bgLogo {
	position: absolute;
	top: 30px;
	left: 650px;
}
