body {
	background-image: url("images/mobile_menu_gold_membership_bg_dark.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.bgLogo {
	display: flex;
	justify-content: center;
	margin-top: 20px;
}
