:root {
	--primary-color: #ebe2d0;
	--secondary-color: #0d141e;
	--primary-accent-color: #aa8855;
	--secondary-accent-color: #4a2a10;
}
* {
	box-sizing: border-box;
}
body {
	background-image: url("images/mobile_menu_gold_membership_bg_dark.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 1200px;
	font-family: "Crimson Text", serif;
}

h2 {
	color: var(--primary-color);
	text-align: center;
}

h3 {
	font-size: 50px;
	color: #aa8855;
	text-align: center;
	margin-top: 40px;
}

footer {
	padding-top: 15px;
	color: var(--secondary-accent-color);
}

footer a {
	color: var(--secondary-accent-color);
}

footer a:hover {
	color: var(--primary-accent-color);
}

/* navigation */

.bgLogo {
	display: flex;
	justify-content: center;
	margin-top: 20px;
}

#navigationLinks {
	display: flex;
	justify-content: center;
	margin-top: 30px;
	justify-content: space-evenly;
}

#navigationLinks a {
	text-decoration: none;
	color: var(--primary-color);
}

#navigationLinks a:hover {
	color: var(--primary-accent-color);
	text-decoration: underline;
}

.divider {
	transform: rotate(180deg);
}

h2 {
	padding-top: 20px;
	color: var(--primary-color);
	text-align: center;
}

h3 {
	color: var(--primary-accent-color);
	text-align: center;
}

img {
	margin-bottom: 30px;
	padding-left: 30px;
}

/* quiz box */
.container {
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

#centered {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.hidden {
	display: none;
}

.quiz-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 1020px;
	background: var(--secondary-accent-color);
	font-size: 20px;
	border: none;
	box-shadow: 2px 2px 5px #fff;
	border-radius: 50px;
	padding: 5px 20px 5px 20px;
	opacity: 0.9;
	cursor: pointer;
}

.quiz-btn:hover {
	transition: all 150ms ease-in-out;
	background-color: var(--primary-accent-color);
}

.quiz-btn a {
	text-decoration: none;
	color: var(--primary-color);
}

/*styling for questions */

@media (max-width: 800px) {
	.centered {
		display: block;
		margin: 0 auto;
	}
	h3 {
		font-size: 30px;
	}
	.quiz-btn {
		margin-top: 780px;
	}
}

@media (max-width: 400px) {
	h3 {
		display: none;
	}
	.container {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

@media (max-width: 800px) {
	img {
		margin-top: 50px;
	}
	.quiz-btn {
		margin-bottom: 570px;
	}
}
