:root {
	--primary-color: #ebe2d0;
	--secondary-color: #0d141e;
	--primary-accent-color: #aa8855;
	--secondary-accent-color: #4a2a10;
	--box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
	font-family: "Crimson Text", serif;
}
.navbar-beige {
	background-color: var(--primary-color);
}
.navbar-darkblue {
	background-color: var(--secondary-color);
	color: var(--secondary-color);
}
.centered {
	padding-top: 20px;
	box-sizing: content-box;
	height: 400px;
	width: 700px;
	background-color: var(--primary-color);
	color: var(--secondary-color);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.welcomeButton {
	background-color: var(--primary-accent-color);
	border: none;
	padding: 10px 60px;
	font-size: 20px;
	border-radius: 50px;
	box-shadow: var(--box-shadow);
}

.welcomeButton:hover {
	background: var(--secondary-accent-color);
}
