body {
	background-image: url("images/marauders-map-gif-7.gif");
	background-size: cover;
	background-repeat: no-repeat;
	font-family: "Crimson Text", serif;
}
.navbar-darkblue {
	background-color: #0d141e;
}
.navbar-brand {
	color: #fff;
}
