:root {
	--primary-color: #ebe2d0;
	--secondary-color: #0d141e;
	--primary-accent-color: #aa8855;
	--secondary-accent-color: #4a2a10;
}

body {
	background-image: url("images/personalised-hogwarts-acceptance-letter_2048x_optimized_2048x_60634f1a-abf2-4e05-b308-8c38e5fad016_2048x.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 910px;
	font-family: "Crimson Text", serif;
}

h2 {
	color: var(--secondary-accent-color);
	font-size: 50px;
}

.navbar-beige {
	background-color: var(--primary-color);
}

.navbar-darkblue {
	background-color: var(--secondary-color);
	color: var(--secondary-color);
}

#centered {
	border-top: 15px solid #aa8855;
	padding-top: 20px;
	box-sizing: content-box;
	height: 400px;
	width: 750px;
	background-color: var(--primary-color);
	color: var(--secondary-color);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.welcomeButton {
	background-color: var(--primary-accent-color);
	border: none;
	padding: 10px 60px;
	font-size: 20px;
	border-radius: 50px;
	box-shadow: 0 3px 15px #6a0607;
}

.welcomeButton:hover {
	transition: all 150ms ease-in-out;
	background: var(--secondary-accent-color);
}

@media (max-width: 800px) {
	#centered {
		padding-top: 100px;
		display: block;
		margin: 0 auto;
		width: 500px;
		height: 600px;
	}
	h2 {
		font-size: 35px;
	}
}
@media (max-width: 550px) {
	#centered {
		width: 370px;
		height: 600px;
	}
}
